/* custom.css */

/* Include Bootstrap CSS */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Custom Styles */
.row{
    justify-content: center;
    justify-items: center;
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.row1{
    background-color: #001721;
}