/* custom.css */

/* Include Bootstrap CSS */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Custom Styles */
.row{
    justify-content: center;
    justify-items: center;
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.row1{
    background-color: #001721;
}
.row2{
    background-color: #020202;
}
.row3{
    background-color: #FFFFFF;
}
.row4{
    background-color: #020202;
}
.row5{
    background-color: #FFFFFF;
}
.row6{
    background-color: #020202;
}
.row7{
    background-color: #FFFFFF;
}
.row8{
    background-color: #FFFFFF;
}
.row9{
    background-color: #FFFFFF;
}
.row10{
    background-color: #FFFFFF;
}
.row11{
    background-color: #FFFFFF;
}
.row12{
    background-color: #020202;
}
.row13{
    background-color: #020202;
}
.row14{
    background-color: #020202;
}
.row15{
    background-color: #020202;
}
.row16{
    background-color: #FFFFFF;
}
.row17{
    background-color: #FFFFFF;
}
.row18{
    background-color: #FFFFFF;
}
.row19{
    background-color: #020202;
}
.row20{
    background-color: #020202;
}
img{
    scale: 0.9;
}